section {
    display: flex;
    align-items: center;
justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}
.box-in-section {
    display: flex;
justify-content:center;
align-items:center;
    gap: 10px;
    margin-bottom: 10px;
}
.title-movie-type {
    font-family: fantasy,sans-serif;
}